/* src/components/ChatInput.css */
.chat-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.chat-input {
    flex: 1;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.send-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #0056b3;
}