
.chat-output-container {
    padding: 15px;
    border: 2px solid #008CBA;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 85%;
    max-width: 600px;
    min-height: 100px; 
    background-color: rgba(249, 249, 249, 0.9); 
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.247);
    margin: 1 auto; 
}

.chat-output {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5;
}

.output-text {
    margin: 0 0 10px;
    font-weight: bold; 
    color: #333;
}

.language-info,
.summary-info,
.translation-info {
    margin: 5px 0;
    font-weight: normal; 
    color: #555; 
}