/* src/App.css */
body {
  background: 
      linear-gradient(to right, rgba(70, 67, 67, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://wallpapers.com/images/high/microsoft-translate-dark-blue-background-v3xja6spmqq6gb6t.webp');
      background-blend-mode: overlay;
      box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  min-height: 100vh;
  padding-right: 1rem;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #fff;
}

.error-message {
  color: red;
  text-align: center;
}

.action-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}


.btn {
  padding: 10px 15px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.language-label {
  color: #fff;
  margin-right: 10px;
}

.language-select {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #008CBA;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.language-selector {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.summarize-btn {
  background-color: #4CAF50; /* Green */
  color: white;
}

.summarize-btn:hover {
  background-color: #45a049;
}

.translate-btn {
  background-color: #008CBA; /* Blue */
  color: white;
}

.translate-btn:hover {
  background-color: #007B9E;
}
